tr.section {
    color: white;
    background-color: #5b80b1;
    text-decoration: none;
}

.pass { 
  background-color: #98FB98;
}

.fail { 
  background-color: #DB7093;
}

th.header {
    color: white;
    background-color: #417690;
    text-decoration: none;
}

.vertical-text {
  -webkit-transform: matrix(0.419,-0.908,0.913,0.407,0,0);
  -moz-transform: matrix(0.419,-0.908,0.913,0.407,0px,0px);
  -ms-transform: matrix(0.419,-0.908,0.913,0.407,0,0);
  -o-transform: matrix(0.419,-0.908,0.913,0.407,0,0);
  transform: matrix(0.419,-0.908,0.913,0.407,0,0);
}
