{% extends "base.html" %}
{% load branch_tags %}

{% block content %}

<div class="breadcrumbs">
<a href="/testbed">Home</a>
&rsaquo; {{product.product}} {{product.branch}}
</div>


<div class="section" width="100%" align="center" id="pagination">{{contacts.render }}</div>

<table>
 <thead>
 <tr>
  <th class="rotate-45"><div><span>#</div></span></th>
  {% for header in headers %}
  <th class="rotate-45"><div><span>{{header}}</div></span></th>
  {% endfor %}
  <th class="rotate-45"><div><span>Testsuite</div></span></th>
  <th class="rotate-45"><div><span>Test</div></span></th>
  {% for build in builds %}
   <th class="rotate-45"><div><span>{{build.id.value}} {{build.label}}</div></span></th>
  {% endfor %}
 </tr>
 </thead>
 <tbody>
 {% for planorder in planorders %}
  <tr>
   <td>{{planorder.order}}</td>
   {% for key in planorder.keys %}<td>{{key}}</td>{% endfor %}
   <td>{{planorder.testsuite.name}}</td>
   <td>{{planorder.test.name}}</td>
  {% for build in builds %}
    {% view_td_cell build.id.value planorder.testsuite.name.name planorder.test.name.name %}
  {% endfor %}
  </tr>
 {% endfor %}
 </tbody>
</table>
 <div class="section" width="100%" align="center" id="pagination">{{contacts.render }}</div>

{% endblock %}
