{% extends "base.html" %}
{% load branch_tags %}

{% block content %}


<table>
 <tr>
  <th colspan="100%">Product {{product.product}} {{product.branch}}</th>
 </tr>
 <tr>
  <th>#</th>
  {% for header in headers %}
  <th>{{header}}</th>
  {% endfor %}
  <th>Testsuite</th>
  <th>Test</th>
  {% for build in builds %}
   <th>{{build.value}}</th>
  {% endfor %}
 </tr>
 {% for planorder in planorders %}
  <tr>
   <td>{{planorder.order}}</td>
   {% for key in planorder.keys %}<td>{{key}}</td>{% endfor %}
   <td>{{planorder.testsuite.name}}</td>
   <td>{{planorder.test.name}}</td>
  {% for build in builds %}
    <td>{{result}} {% view_cell build.value planorder.testsuite.name.name planorder.test.name.name %}</td>
  {% endfor %}
  </tr>
 {% endfor %}
</table>
{% endblock %}
