{% extends "base.html" %}
{% load branch_tags %}

{% block content %}


<table>
 <tr>
  <th colspan="100%">
   <font size="+1">Branch {{product.product}} {{product.branch}}</font>
  </th>
 </tr><tr>
  <th></th>
  {% for header in headers %}
   <th></th>
  {% endfor %}
  <th></th>
  <th></th>
  {% for build in builds %}
   <th height="50" class="vertical-text">{{build.label}}</th>
  {% endfor %}
 </tr><tr>
  <th>#</th>
  {% for header in headers %}
  <th>{{header}}</th>
  {% endfor %}
  <th>Testsuite</th>
  <th>Test</th>
  {% for build in builds %}
   <th>{{build.id.value}}</th>
  {% endfor %}
  <th>>></th>
 </tr>
 {% for planorder in planorders %}
  <tr>
   <td>{{planorder.order}}</td>
   {% for key in planorder.keys %}<td>{{key}}</td>{% endfor %}
   <td>{{planorder.testsuite.name}}</td>
   <td>{{planorder.test.name}}</td>
  {% for build in builds %}
    {% view_td_cell build.id.value planorder.testsuite.name.name planorder.test.name.name %}
  {% endfor %}
  </tr>
 {% endfor %}
</table>
{% endblock %}
