{% extends "base.html" %}
{% load branch_tags %}

{% block content %}

<div class="breadcrumbs">
<a href="/">Home</a>
&rsaquo; {{product.product}} {{product.branch}}
</div>


<div class="section" width="100%" align="center" id="pagination">{{contacts.render }}</div>

<table>
 <tr>
  <th></th>
  {% for header in headers %}
   <th></th>
  {% endfor %}
  <th></th>
  <th></th>
  {% for build in builds %}
   <th height="70" class="vertical-text">{{build.label}}</th>
  {% endfor %}
 </tr><tr>
  <th class="header">#</th>
  {% for header in headers %}
  <th class="header">{{header}}</th>
  {% endfor %}
  <th class="header">Testsuite</th>
  <th class="header">Test</th>
  {% for build in builds %}
   <th class="header" >{{build.id.value}}</th>
  {% endfor %}
 </tr>
 {% for planorder in planorders %}
  <tr>
   <td>{{planorder.order}}</td>
   {% for key in planorder.keys %}<td>{{key}}</td>{% endfor %}
   <td>{{planorder.testsuite.name}}</td>
   <td>{{planorder.test.name}}</td>
  {% for build in builds %}
    {% view_td_cell build.id.value planorder.testsuite.name.name planorder.test.name.name %}
  {% endfor %}
  </tr>
 {% endfor %}
</table>
 <div class="section" width="100%" align="center" id="pagination">{{contacts.render }}</div>

{% endblock %}
